body {
    min-height: 100vh;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

img {border: 2px solid black;}

header {
    background-color: #4aa0e5;
    border: 2px solid white;
    display: flex;
    align-items: center;
}

header img {
    max-width: 100px;
    outline: 2px solid white;
}

header h1 {
    flex: 2;
    text-align: center;
}

main {
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    color: white;
}

main div {
    margin: 0.5rem 0;
    width: 100%;
    border: 2px solid white;
}

main h1, main img {
    margin: 21px 0 21px 0.4rem;
}
.opleiding {
    background-color: #5a5a5a;
}
.hobbys {
    background-color: #ababab;
}
.toekomst {
    background-color: #5a5a5a;
}

footer {
    height: 10vh;
    background-color: #4aa0e5;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {padding: 0 1rem; color: #fff;}